{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Admin - WebApps2026{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4">
            <h5 class="mb-3">
                <i class="bi bi-person-plus"></i> Register New Admin
            </h5>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-danger w-100 mt-2">
                    <i class="bi bi-person-plus"></i> Create Admin
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}